<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Snowboard Shop</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/inventory">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inventory/products">All Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inventory/brands">All Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inventory/categories">All Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inventory/product/create">Create new product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inventory/brand/create">Create new brand</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inventory/category/create">Create new category</a>
      </li>

    </ul>
  </nav>