body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  padding: 10px 0;
}
ul {
  list-style: none;
}

.product-card {
  display: flex;
  gap: 1rem;
  padding: 10px 0;
}

.card-info > p {
  margin: 0;
}